<div xmlns:th="http://www.thymeleaf.org">
    <div class="submenu">
        <a th:href="@{/estimate/details}" th:text="#{estimate.details}"></a>
        <a th:href="@{/estimate/new}" th:text="#{estimate.new}"></a>
        <span class="divider_vertical">|</span>
        <a th:href="@{/offerrequest/employee/details}" th:text="#{offer.request.details}"></a>
        <span class="divider_vertical">|</span>
        <a th:href="@{/offer/employee/showoffer}" th:text="#{offer.details}"></a>
        <span class="divider_vertical">|</span>
    </div>
</div>